# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments (standard locations)
venv/
env/
.env/
ENV/
bin/
lib/
lib64/

# Distribution / Packaging
dist/
build/
*.egg-info/
*.egg
.eggs/

# Environment Variables and Secrets
.env
.venv
*.env

# Unit test / coverage reports
.tox/
.coverage
.cache
htmlcov/
.pytest_cache/

# IDE-specific (Optional)
.vscode/
.idea/
*.swp
